<h1>
  Welcome to {{ title }}!
  <a href="">hello</a>
</h1>

<button class="btn btn-primary">component Button</button>

<div class="col-md-8 col-md-offset-2">
	<article class="panel panel-default">
	<div class="panel-body">
		content goes here
	</div>
	<footer class="panel-footer">
		<div class="author">
			Natasha
		</div>

		<div class="config">
			<a >Edit</a>
			<a >Delete</a>
		</div>
	</footer>
</article>
	<button class="btn btn-primary">inside Button</button>
</div>

<div class="col-md-8 col-md-offset-2">
	<form>
		<div class="form-group">
			<label for="firstname">First Name</label>
			<input type="text" id="firstName" class="form-control" formControlName="firstName">
		</div>
		<div class="form-group">
			<label for="lastname">Last Name</label>
			<input type="text" id="lastName" class="form-control" formControlName="lastName">
		</div>
		<div class="form-group">
			<label for="email">Email</label>
			<input type="email" id="email" class="form-control" formControlName="email">
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" id="password" class="form-control" formControlName="password">
		</div>
		<button class="btn btn-primary" type="Submit">Submit</button>
	</form>
</div>